body {
  text-align: center;
  font-family: "Happy Monkey", cursive;
  color: #ffffff;
  background: linear-gradient(#a2d2ff, #efb0c9);
}

h1,
h2,
h3,
h4,
p {
  text-shadow: 0 0 1px #000000;
}

#dog-img {
  width: 150px;
  margin-bottom: 10px;
  border: 6px solid #efb0c9;
  border-radius: 50%;
}

#bday-age {
  margin: 5px 0 10px 0;
  padding: 5px 10px;
  border-radius: 5px;
  background: #efb0c9;
}

#bday-date {
  margin: 0;
  padding: 5px 10px;
  border-radius: 5px;
  background: #efb0c9;
}

#header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gift-section {
  margin-top: 50px;
}

.gift-title {
  margin-bottom: 10px;
}

.gift-hint {
  margin-top: 0;
}

#gift-img-happy {
  height: 300px;
}

.gift-img {
  max-width: 400px;
  height: 400px;
  margin: 20px auto;
  border: 6px solid #efb0c9;
  border-radius: 10px;
  background-image: url("/images/gift-cover.gif");
  background-position: right;
  background-size: cover;
}

#gift-img-cool:hover {
  background-image: url("/images/cool.gif");
}

#gift-img-funny:hover {
  background-image: url("/images/funny.gif");
}

#gift-img-energy:hover {
  background-image: url("/images/energy.gif");
}

#gift-img-smart:hover {
  background-image: url("/images/smart.gif");
}

#gift-img-happy:hover {
  background-image: url("/images/happy.gif");
}

#footer {
  font-style: italic;
  width: 400px;
  margin: 40px auto 20px;
}

a {
  color: #ffffff;
}
